   @import "../../var.scss";

   .list {
       margin-bottom: 30px;

       &__add-button {
           opacity: .3;
           transition: all .3s;

           &:hover {
               transition: all .3s;
               opacity: .7;
           }
       }

       &-item {
           display: flex;
           align-items: center;
           padding: 10px 12px;
           cursor: pointer;
           margin-bottom: 5px;
           transition: all .3s;

           &:hover {
               transition: all .3s;
               background: rgba(255, 255, 255, 0.5);
               border-radius: 4px;
           }

           &.active {
               background: $bg-color-white;
               box-shadow: 0px 2px 10px $shadow-hover;
               border-radius: 4px;
           }

           & span {
               max-width: 100%;
               text-overflow: ellipsis;
               -ms-text-overflow: ellipsis;
               -o-text-overflow: ellipsis;
               -ms-line-clamp: 3;
               -webkit-line-clamp: 3;
               line-clamp: 3;
               display: -webkit-box;
               display: box;
               -webkit-box-orient: vertical;
               white-space: nowrap;
               overflow: hidden;
           }
       }
   }

   .icon {
       display: inline-block;
       margin-right: 10px;
   }