   @import "../../var.scss";

   .list {
       margin-bottom: 30px;

       &__add-button {
           opacity: .3;
           transition: all .3s;

           &:hover {
               transition: all .3s;
               opacity: .7;
           }
       }

       &-item {
           display: flex;
           align-items: center;
           padding: 10px 12px;
           cursor: pointer;
           margin-bottom: 5px;

           &.active {
               background: $bg-color-white;
               box-shadow: 0px 2px 10px $shadow-hover;
               border-radius: 4px;
           }

           & span {
               max-width: 100%;
               text-overflow: ellipsis;
               -ms-text-overflow: ellipsis;
               -o-text-overflow: ellipsis;
               -ms-line-clamp: 3;
               -webkit-line-clamp: 3;
               line-clamp: 3;
               display: -webkit-box;
               display: box;
               -webkit-box-orient: vertical;
               white-space: nowrap;
               overflow: hidden;
           }
       }
   }

   .icon {
       display: inline-block;
       margin-right: 10px;
   }

   .badge {
       display: inline-block;
       width: 13px;
       height: 13px;
       border-radius: 30px;

       &--green {
           background-color: #42B883;
       }

       &--blue {
           background-color: #64C4ED;
       }

       &--pink {
           background-color: #FFBBCC;
       }

       &--light-green {
           background-color: #B6E6BD;
       }

       &--purple {
           background-color: #C355F5;
       }

       &--black {
           background-color: #09011A;
       }

       &--red {
           background-color: #FF6464;
       }
   }