@import "./var.scss";

body {
    overflow: auto;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 9px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 1px solid #fff;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: 'Roboto',
        -apple-system,
        system-ui,
        sans-serif;
    --webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


.todo {
    display: flex;
    font-size: 18px;

    &__sidebar {
        background-color: $bg-color-sidebar;
        width: 300px;
        border-right: solid 1px $shadow-right;
        padding: 60px 0;

        &-wrapper {
            padding: 0 20px;
            position: fixed;
            width: 295px;
            height: 90%;
            overflow: auto;

            &::-webkit-scrollbar {
                background-color: transparent;
                width: 6px;
                height: 6px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #babac0;
                border-radius: 16px;
                border: 1px solid transparent;
            }

            &::-webkit-scrollbar-button {
                display: none;
            }
        }
    }

    &__tasks {
        flex: 1;
        padding: 75px;
    }
}

.field {
    padding: 10px 20px;
    width: 250px;
    background: $bg-color-white;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;

    &:focus {
        border-color: #dbdbdbdb;
    }
}

.btn-rest {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    background-color: #3dd599;
    border-radius: 4px;
    color: $bg-color-white;
    padding: 15px 25px;
    transition: all .3s;

    &:hover {
        transition: all .3s;
        background-color: darken(#3dd599, 6%);
    }

    &:active {
        background-color: darken(#3dd599, 12%);
    }

    &:disabled {
        background: #d8d8d8;
        cursor: not-allowed;
    }

    &--grey {
        background-color: #f4f6f8;
        color: #444444;

        &:hover {
            background: darken(#f4f6f8, 5%);
        }

        &:active {
            background: darken(#f4f6f8, 10%);
        }
    }
}